@import "reset.css";

body {
  background-color: #333;
  font-family: helvetica;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
}

/* ==================== Navigation */

nav {
  width: 420px;
  position: fixed;
  top: 0;
  padding: 15px;
  margin: 0 auto;
  background-color: #000000;
}

/* ==================== List */

.restaurant-list {
  margin-top: 50px;
}

.location {
  position: relative;
  padding: 20px 20px;
  border-bottom: 1px solid #9C9C9C;
  background-color: #DFDFDF;
}

.location:hover {
  background-color: #B3B3B3;
  border-bottom: 1px solid #9D9D9D;
}

.content {
  display: inline-block;
}

h1 {
  line-height: 1em;
  font-size: 1em;
  font-weight: bold;
}

h3 {
  line-height: 1em;
  font-size: 0.875em;
  padding-top: 5px;
}

.arrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
